body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0px;
}

.header, .footer {
    flex: 0 0 50px;
    background-color: beige;
    display: flex;
    padding: 10px 100px;
}

.header {
    justify-content: space-between;
}

.header-left, .header-right, .header-links {
    display: flex;
    gap: 30px;
    align-items: center;
}

.logo {
    width: 75px;
    border-radius: 100%;
}

.footer {
    margin-top: auto;
    justify-content: center;
    align-items: center;
}

.content-body {
    flex: 1 0 auto;
    display: flex;
    flex-direction: column;
    border: 4px solid grey;
}

.panel {
    flex-basis: 200px;
    border: 4px solid burlywood;
}

ul {
    list-style-type: none;
    padding: 0px;
    margin: 0px;
}

a {
    text-decoration: none;
}